doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles/Game_List.css", content="application/css; charset=utf-8")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
        script(language="JavaScript" type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js")
        script(language="JavaScript" type="module" src="scripts/imagesearch.js")
        script(language="JavaScript" type="module" src="scripts/game_list.js")
        title Game_List
    
block content
    //- Navbar for top layer of text
    nav(class="navbar" id="nav" role="navigation" aria-label="main navigation")
        a(href="/")
            img(src="images/icon.jpg" width="200")
        div(class="navbar-brand" id="navbarLogo")
            //- Outputs the text that appears on the top of the page
            h1(class="name")="List of Games"
            h2(class="motto")="Here are the choices within your search"
            h3(class="Disclaimer")="(Some duplicates may be a demo or downloadable content)"

    //- Sets the dropdown for the sort By operators
    div(class="dropdown")
        div(class="dropdown-trigger")
            button(class="button is-danger is-outlined" aria-haspopup="true" aria-controls="dropdown-menu")
                span(class="Fillertext")="Sort By"
                span(class="icon is-small")
                    i(class="fas fa-angle-down" aria-hidden="true")
        
        //- Dropdown menu options for the dropdown
        div(class="dropdown-menu" id="dropdown-menuSort" role="menu")
            a(href="#" class="dropdown-item" id="Score")="Sort By Score"
            a(href="#" class="dropdown-item" id="Title")="Sort By Title"

    
    //- Sets the dropdown for the view By operators
    div(class="dropdown")
        div(class="dropdown-trigger")
            button(class="button is-danger is-outlined" aria-haspopup="true" aria-controls="dropdown-menu")
                span(class="Fillertext" id="viewFiller")="View #"
                span(class="icon is-small")
                    i(class="fas fa-angle-down" aria-hidden="true")
        
        //- Dropdown menu options for the dropdown
        div(class="dropdown-menu" id="dropdown-menuView" role="menu")
            a(href="#" class="dropdown-item" id="30")="View 30"
            a(href="#" class="dropdown-item" id="60")="View 60"
            a(href="#" class="dropdown-item" id="120")="View 120"


    
    

    h4(class="headerSearch")="Search by: "
    div(id="searchOptionContainer" class="searchOptionContainer")
        table(id="searchOption" class="searchOption")
    //- Container to hold both the game list and the Search bar
    div(class="gameListContainer")
        div(class="searchBarContainer")
            form(action="/search" method="GET")
                input(id='search-txt' name='value' class="search-box" type="text" placeholder="Search for games" autocomplete="off")
                input(id="dropval" name="type" value="gameName" hidden)
                button(id='submit-button' class="search-btn" href="#" type="submit")
                    i(class="fas fa-search")
            
            div(id="genreContainer" class="genreContainer")
                table(id="genreTable" class="genreTable")
        h3(class="imageContainer" id="imageContainer")
